flask
mysql-connector-python
scikit-learn
nltk
pdfkit
qrcode
reportlab
python-dotenv
pandas
flask
mysql-connector-python
scikit-learn
nltk
pdfkit
qrcode
reportlab
python-dotenv
pandas
numpy
werkzeug
pdfminer.six
python-docx
deep-translator
nest-asyncio
openai  
flask-mail